body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 20px;
  background: #f7f7f7;
  color: #222;
}
.container {
  max-width: 50%;
  height: auto;
  margin: 0 auto;
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

h1 {
  text-align: center;
}
label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.fila {
  display: flex;
  gap: 30px;
  margin-bottom: 15px;
}

.fila div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
fieldset {
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 6px;
  margin-top: 12px;
}
#materialesContainer label {
  display: inline-block;
  margin-right: 10px;
}
.btn-guardar {
  width: 50%;
  margin: 0 auto;
  background-color: #1aab8a;
  color: white;
  border: none;
  display: block;
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 16px;
}
#resultado {
  margin-top: 12px;
}

.input-error {
  border-color: #e74c3c;
  background-color: #fdecea;
}

.error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 4px;
  min-height: 18px; /* mantiene espacio aunque no haya error */
}
/*estilo del resultado*/
#resultado {
  margin-top: 20px;
  padding: 12px 18px;
  border-radius: 6px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

/* resultado de exito */
#resultado.ok {
  background-color: #e9f9f2;
  color: #1aab8a;
  border: 1px solid #1aab8a;
  opacity: 1;
  transform: translateY(0);
}

/* resultado de error */
#resultado.error {
  background-color: #fdecea;
  color: #e74c3c;
  border: 1px solid #e74c3c;
  opacity: 1;
  transform: translateY(0);
}
